
/* ДЛЯ АНГ */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* ДЛЯ КРУПНОГО ТЕКСТА */
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  


/* ДЛЯ НАВИГАЦИОННОЙ ПАНЕЛИ СВЕРХУ */
.exo-2-unique {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
}



/* ДЛЯ ТЕКСТА */
.overpass-unique {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}