@media screen and (max-width: 450px) {
    /* GLOBAL START */
    .for__phone__p {
        display: block;
    }
    .btn__one {
        display: inline-block;
        margin-top: 5rem;
        padding: 2.5rem 10.4rem;
        background-color: #7C716C;
        color: #fff;
        text-decoration: none;
        border-radius: 10rem;

        font-size: 3rem;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    .btn__one:hover {
        transform: translateY(-0.5rem);
        filter: drop-shadow(0 1rem 1.5rem #85807e7c);
        color: #7C716C;
        background-color: white;
        border: solid 0.7rem #7C716C;

    }
    
    body {
        position: relative;
        height: 100vh;
    }


    .nav__panel {
        background-color: white;
        position: fixed;
        width: 100vw;
        height: 11rem;
        display: flex;
        justify-content: end;
        align-items: center;
        z-index: 10;
    }
    .nav__list li button {
        font-size: 3rem;
    }
    .nav__list li:not(:last-child) {
        display: none;
    }


    .hamburger {
        display: block;
        padding-right: 3rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
        width: 6rem;
    }


    
    .phone__panel {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 20;
        transition: right 0.5s ease, opacity 0.5s ease;
        right: -30rem;
        top: 0;
    }   
    
    .phone__nav__list li button {
        font-size: 6rem;
        color: rgb(30, 30, 73);   
        font-weight: 700;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800; /* Замените <weight> на конкретное значение */
        font-style: normal;
        background: none;
        margin-bottom: 2rem;
        padding-left: 2rem;
        color:rgb(0, 0, 0)
    }
    
    .phone__panel__bg {
        background-color: #ffffff;
        width: 70rem;
        height: 100vh;
    }
    
    .phone__nav__list {
        list-style-type: none;
        padding-top: 20rem;
    }
    
    .is__active.phone__panel {
        opacity: 1;
        visibility: visible;
        right: -3rem;
        top: 0;
    }


    
    .btn__close {
        display: block;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 19;
        transition: opacity 0.7s ease, visibility 0.7s ease, background-color 0.7s ease;
        background-color: #8eff9b00;
    }
    
    .is__active.btn__close {
        opacity: 1;
        visibility: visible;
        background-color: #a9d4ff47;
    }
    



    .container {
        margin: 0 auto;
        min-width: 92vw;
    }



    .header {
        background-image: none;
        
        width: 100vw;
        height: 150rem;
    }
    .header-logo {
        display: none;
    }
    .container h1 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 17rem;
        color: rgb(0, 0, 0);
        
        margin-top: 20rem;
        padding-left: 5rem;
        line-height: -130px;
    }
    .container p {
        font-size: 3rem;
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;

        color: rgb(0, 0, 0);
        padding-left: 5rem;
        margin-top: 7rem;
    }
    .header-subscribe {
        padding-left: 4.5rem;
        width: 26rem;
        margin-top: 7rem;
    }
    .link__2 {
        padding-left: 1rem;
    }
    .header-subscribe a img {
        width: 9rem;
    }
    




    /* СЕКЦИЯ 1*/
    .sec__one {
        display: flex;
        width: 100vw;
        height: 210rem;
    }
    .sec__one .container {
        margin: 0 auto;
        max-width: 85vw;
        min-width: 85vw;
        height: 50rem;
    }
    .sec__one .container h2 {
        color: black; 
        margin-top: 5.3rem;
        margin-bottom: 10rem;
        font-weight: 900;
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8rem;
        padding-top: 6rem;
    }
    .grid__con {
        display: block;
        /* grid-template-columns: 1fr;
        grid-column-gap: 6rem; */
    }
    .photos__sec__one {
        display: flex;

        /* grid-template-columns: 1fr;
        grid-column-gap: -2rem; */
    }
    .photos__sec__one img {
        width: 50rem;
        height: 50rem;
        border-radius: 8rem;
    }
    .sec__two__last__img {
        display: block;
    }
    .el.b.ph__sec__one__2 {
        margin-top: 20rem;
        margin-left: 5rem;
    }
    .sec__one__first__text {
        margin-bottom: 1.9rem;
    }
    .text__sec__one {
        margin-top: 10rem;
    }
    .text__sec__one p {
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(16, 16, 16);
        font-size: 4rem;
        letter-spacing: 2px;
        margin-top: 0;
        padding: 0;
    }
    .text__sec__one p b {
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: rgb(16, 16, 16);
        font-size: 4rem;
        letter-spacing: 2px;
        margin-top: 0;
        padding: 0;
    }
    .text__sec__one:first-child {
        margin-bottom: 5rem;
    }
    .text__sec__one .btn__one {
        margin-top: 7rem;
    }






    
    .sec__three {

    }



    .services {
        display: flex;
        width: 100vw;

        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }
    .services .container {
        margin: auto auto;
        max-width: 85vw;
        min-width: 85vw;
        height: 230rem;
    }
    .services .container h2 {
        font-size: 8rem;
        padding-top: 6rem;
        margin-top: 7rem;
        margin-bottom: 8rem;
        font-weight: 700;
    }

    .ser__grid {
        margin-top: 2.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3.1rem;
    }
    .ser__el img {
        width: 40rem;
        height: 40rem;
        border-radius: 2.8rem;
    }
    .ser__el p {
        color: black;
        font-size: 4rem;
        font-weight: 500;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        line-height: 1.5;
        padding: 0;
    }
    .ser__el p b {
        color: black;
        font-size: 3.5rem;
        font-weight: 900;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
    }
    .ser__btn__center {
        display: flex;
        justify-content: center;
    }
    .btn__ser {
        margin: 3.8rem auto 3.2rem auto;
    }

    .ser__2 {
        display: none;
    }

    .ser__btn__center {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }



    .sec__five {
    }



    /* МАСТЕР ГРУППА СТАРТ */

    .master__group {
        display: flex;
    }
    .master__group .container {
        width: 85vw;
        min-width: inherit;
        margin-top: 0;
    }
    .master__group .container h2 {
        font-size: 8rem;
        margin-top: 4rem;
        padding-top: 6rem;
        margin-bottom: 4.1rem;
        font-weight: 700;
    }
    .master__group .container h3 {
        font-size: 4rem;
        letter-spacing: 1.1;
        font-weight: 700;
    }
    .master__group .container h4 {
        font-size: 3rem;
    }
    .master__group .container p {
        color: black;
        font-size: 4rem;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Замените <weight> на конкретное значение */
        font-style: normal;
        padding: 0;
    }
    .master__group .container ul {
        padding-left: 7rem;
    }
    .master__group .container ul li {
        color: black;
        font-size: 4rem;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Замените <weight> на конкретное значение */
        font-style: normal;
    }
    .master__group__div__1 p {
        padding: 0;
    }
    .master__group__div__1 {
        margin-bottom: 4rem;
    }
    .mas__gr__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mas__gr__center h3 {
        margin-top: 6rem;
    }
    .mas__gr__center a {
        max-width: 17.2rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }





    .sec__seven {
    }





    /* ABOUT ME */

    .about {
        display: flex;
    }
    .about .container {
        width: 85vw;
        min-width: inherit;
        margin-top: 0;
    }
    .about .container h2 {
        font-size: 8rem;
        margin-top: 4.2rem;
        padding-top: 6rem;
        margin-bottom: 4.2rem;
    }
    .about__first__g {
        display: block;
    }
    .left {
        width: 100%;
    }
    .about__children h3 {
        margin-bottom: 0;
        font-size: 4rem;
        letter-spacing: 1.1px;
    }
    .about__children p {
        color: black;
        font-size: 1.8rem;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Замените <weight> на конкретное значение */
        font-style: normal;
        letter-spacing: 1.1px;
    }
    .about__children ul {
        margin-top: 0;
        margin-left: 7rem;
    }
    .about__children ul li {
        color: black;
        font-size: 4rem;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Замените <weight> на конкретное значение */
        font-style: normal;
        letter-spacing: 1.1px;
    }
    .about__dio p {
        color: black;
        font-size: 4rem;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Замените <weight> на конкретное значение */
        font-style: normal;
        letter-spacing: 1.1px;
        padding: 0;
    }
    .about__dio img {
        margin-top: -2.1rem;
        margin-left: 2.2rem;
        width: 22rem;
        height: 22rem;
        border-radius: 2.3rem;
    }
    .about__second__g {
        display: grid;
        grid-template-columns: auto auto;
        max-height: 22rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
    .about__second__g img {
        margin-top: 0;
        margin-left: 0;
        width: 22rem;
        height: 22rem;
        border-radius: 2.8rem;
    }
    .right {
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }
    .right.about__children .for__center h3 {
        font-size: 4rem;
    }
    .right.about__children .for__center p {
        font-size: 4rem;
        margin-top: 1.3rem;
    }
    .about__d__1 h3 {
        font-size: 4rem;
    }
    .about__second__g {
        margin-bottom: 120rem;
        display: block;
    }
    .about__center__img {
        display: flex;
    }
    .about__second__g img {
        border-radius: 10rem;
        width: 70rem;
        height: 70rem;
        margin: 5rem  auto 5rem auto;
    }
    .right.about__children {
        margin: 0;
    }
    .about__d__1 {
        margin-top: 6rem;
    }
    .about__first__g img {
        display: none;
    }




    /* КОНТАКТЫ НАЧАЛО */
    .contacts {
        margin-top: 18rem;
        display: flex;
    }
    .contacts .container {
        width: 85vw;
        min-width: inherit;
        margin-top: 0;
    }
    .contacts .container h2 {
        font-size: 8rem;
        padding-top: 6rem;
        margin-bottom: 9.5rem;
    }
    .contacts__g {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0.6rem;
    }
    .con__left {
        width: 100%;
    }
    .con__left h3 {
        font-size: 5rem;
    }
    .con__left p {
        font-size: 4rem;
        margin-top: 0;
        padding: 0;
        margin-bottom: 5rem;
        color: #868686;
        font-family: "Exo 2", sans-serif;
        font-weight: 500;
    }
    .con__right {
        display: none;
    }
    .con__right img {
        width: 22rem;
        height: 22rem;
        border-radius: 2.8rem;
        display: block;
    }
    .con__ph__first {
        margin-top: 2.7rem;
    }
    .con__ph__second {
        margin-top: -5rem;
        margin-left: 5rem;
    }
    .contacts .container .header-subscribe {
        margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 18rem;
        padding: 0;
        width: 60rem
    }

    .contacts .container .header-subscribe .link__2 {
        padding-left: 1rem;
    }

    .contacts .container .header-subscribe a img {
        width: 11rem;
    }


}