/* global start */
.container h3 {
    font-size: 27px;
    margin-bottom: 35px;
}
.container p {
    color: black;
}
.p_mbnone {
    margin-bottom: 0;
}

b {
    font-family: "Overpass", sans-serif;
    font-weight: 900;
}
h4 {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 900;
}
h3 {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    font-weight: 900;
}
#mb-90 {
    margin-bottom: 90px;
}
#mb-45 {
    margin-bottom: 35px;
}
#newP {
    margin-top: 40px;
}
#NDS {
    margin-top: 40px;
    margin-bottom: 100px;
}
/* global end */



/* sec__one start */
.sec__one .container {
    height: inherit;

}
.grid__con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
}
.text__sec__one p {
    margin-bottom: 40px;
    font-size: 22px;
}
.text__sec__one p b {
    font-size: 19px;
    font-family: "Overpass", sans-serif;
    font-weight: 900;

}
.sec__one__first__text {
    margin: 0;
}
.ul-price li {
    margin-left: 30px;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    font-style: normal;
}

.con__con p {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.con__con p b {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

/* sec__one end */



/* Black Ser Start */
.black__ser {
    background-color: black;
    width: 100vw;
    height: 500px;

    display: flex;
}
.container_new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto auto;
    width: 1410px;
    height: 100%;
}
.ser__card {
    width: 470px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Черный цвет с 50% прозрачностью */
    background-blend-mode: darken; /* Режим наложения "затемнение" */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sc1 {
    background-image: url('../images/mobile-recording.jpg');
}
.sc2 {
    background-image: url('../images/microphone.jpg');
}
.sc3 {
    background-image: url('../images/mic.jpg');
}
.ser__card * {
    color: white;
    margin-left: 36px;
    margin-top: 36px;
    max-width: 80%;
}
.ser__card b {
    margin: 0;
}
.ser__card p {
    font-size: 22px;
    letter-spacing: 1.5px;
}
.ser__card h3 {
    font-size: 22px;
}
.ser__card h4 {
    font-size: 27px;
    font-family: "Overpass", sans-serif;
    font-weight: 900;
}

/* Black Ser End */

/* SMM start */
.sec__smm .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
}
.sec__smm .container h2 {
    font-size: 77px;
    margin-top: 65px;
    font-weight: 900;
    font-family: "Overpass", sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}
.sec__smm .container p {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
.sec__smm .container p b {margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
/* SMM end */


/* Consultations start */
.sec__consultations .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
}
.sec__consultations .container h2 {
    font-size: 77px;
    margin-top: 65px;
    font-weight: 900;
    font-family: "Overpass", sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}
.sec__consultations .container p {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
.sec__consultations .container p b {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
/* Consultations end */



/* sec__mentoring start*/
.sec__mentoring .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
}
.sec__mentoring .container h2 {
    font-size: 77px;
    margin-top: 65px;
    font-weight: 900;
    font-family: "Overpass", sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}
.sec__mentoring .container p {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
.sec__mentoring .container p b {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}


/* sec__mentoring end */
