@media screen and (max-width: 450px) {
    /* GLOBAL START */
    .for__phone__p {
        display: block;
    }
    .btn__one {
        display: inline-block;
        margin-top: 5rem;
        padding: 2.5rem 10.4rem;
        background-color: #7C716C;
        color: #fff;
        text-decoration: none;
        border-radius: 10rem;

        font-size: 3rem;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    .btn__one:hover {
        transform: translateY(-0.5rem);
        filter: drop-shadow(0 1rem 1.5rem #85807e7c);
        color: #7C716C;
        background-color: white;
        border: solid 0.7rem #7C716C;
    }
    body {
        position: relative;
        height: 100vh;
    }
    .nav__panel {
        background-color: white;
        position: fixed;
        width: 100vw;
        height: 11rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
    }
    .nav__list li button {
        font-size: 3rem;
    }
    .nav__list li:not(:last-child) {
        display: none;
    }
    .hamburger {
        display: block;
        padding-right: 3rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
        width: 6rem;
    }

    .phone__panel {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 20;
        transition: right 0.5s ease, opacity 0.5s ease;
        right: -30rem;
        top: 0;
    }   
    .phone__nav__list li button {
        font-size: 6rem;
        color: rgb(30, 30, 73);   
        font-weight: 700;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800; /* Замените <weight> на конкретное значение */
        font-style: normal;
        background: none;
        margin-bottom: 2rem;
        padding-left: 2rem;
        color:rgb(0, 0, 0)
    }
    .phone__panel__bg {
        background-color: #ffffff;
        width: 70rem;
        height: 100vh;
    }
    .phone__nav__list {
        list-style-type: none;
        padding-top: 20rem;
    }
    .is__active.phone__panel {
        opacity: 1;
        visibility: visible;
        right: -3rem;
        top: 0;
    }

    .btn__close {
        display: block;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 19;
        transition: opacity 0.7s ease, visibility 0.7s ease, background-color 0.7s ease;
        background-color: #8eff9b00;
    }
    .is__active.btn__close {
        opacity: 1;
        visibility: visible;
        background-color: #a9d4ff47;
    }
    /* GLOBAL END */

    /* КОНТАКТЫ НАЧАЛО */
    .contacts {
        margin-top: 18rem;
        display: flex;
    }
    .contacts .container {
        width: 85vw;
        min-width: inherit;
        margin-top: 0;
    }
    .contacts .container h2 {
        font-size: 8rem;
        padding-top: 6rem;
        margin-bottom: 9.5rem;
    }
    .contacts__g {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0.6rem;
    }
    .con__left {
        width: 100%;
    }
    .con__left h3 {
        font-size: 5rem;
    }
    .con__left p {
        font-size: 4rem;
        margin-top: 0;
        padding: 0;
        margin-bottom: 5rem;
        color: #868686;
        font-family: "Exo 2", sans-serif;
        font-weight: 500;
    }
    .con__right {
        display: none;
    }
    .con__right img {
        width: 22rem;
        height: 22rem;
        border-radius: 2.8rem;
        display: block;
    }
    .con__ph__first {
        margin-top: 2.7rem;
    }
    .con__ph__second {
        margin-top: -5rem;
        margin-left: 5rem;
    }
    .contacts .container .header-subscribe {
        margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 18rem;
        padding: 0;
        width: 60rem
    }

    .contacts .container .header-subscribe .link__2 {
        padding-left: 1rem;
    }

    .contacts .container .header-subscribe a img {
        width: 11rem;
    }
}