* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    background-color: white;
    font-size: 0.85vw;
    overflow-x: hidden;
}


/* NAV PANEl START */

.nav__panel {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
}

.nav__list {
    display: flex;
    /* padding-right: 1rem; */
}

.nav__list li {
    list-style: none;
}

.nav__list li a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(30, 30, 73);   
    font-weight: 700;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800; /* Замените <weight> на конкретное значение */
    font-style: normal;


    font-size: 16px;
}

.nav__list li {
    margin-right: 2.1rem
}

/* NAV PANEL END */

/* Header Start */

.header {
    display: flex;
    width: 100vw;
    height: 80vh;
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Горизонтальное отражение */

}

.container {
    margin: 2.5rem auto 0 auto;
    margin: 40px auto 0 auto;
    min-width: 1200px;
}

.header-logo {
    margin-top: 4.5rem;
    margin-top: 77px;
}

.container h1 {
    margin-top: 6rem;
    font-weight: 900;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: white;

    margin-top: 105px;
    font-size: 80px;
}

.container p {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-top: 30px;
    font-size: 32px;
}

.header-subscribe {
    width: 200px;
    margin-top: 3rem;
    margin-top: 50px;
}

.header-subscribe p {
    font-size: 20px;
    margin-bottom: 3px;
}

.header-subscribe a img {
    width: 3rem;
    width: 50px;
    margin-left: 3px;
}







/* СЕКЦИЯ 1*/

.sec__one {
    display: flex;
    width: 100vw;
}

.sec__one .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
    height: 800px;
}

.sec__one .container h1 {
    color: black; 
    margin-top: 5.3rem;
    margin-bottom: 4.7rem;
    font-weight: 900;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.8rem;

    font-size: 78px;
    margin-top: 85px;
    margin-bottom: 65px;
}



.grid__con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

.photos__sec__one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.photos__sec__one img {
    width: 222px;
    height: 222px;
    border-radius: 45px;
}

.sec__two__last__img {
    display: block;
    margin-top: 132px;
}


.sec__one__first__text {
    margin-bottom: 30px;
}

.text__sec__one p {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(16, 16, 16);
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-top: 0;
}

.btn__one {
    display: inline-block;
    margin-top: 49px;
    padding: 18px 69px;
    background-color: #7C716C;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;

    font-size: 21px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}








/* СЕКЦИЯ 3 */

.sec__three {
    width: 100vw;
    height: 768px;
    display: flex;
    background-image: url('../images/sec-three-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec__three .container {
    display: flex;
    position: relative;
    width: 1100px;
}

.sec__three h2 {
    color: white;
    font-size: 70px;
    text-align: center;
    margin: auto auto;
}

.sec__three img {
    width: 77px;
    height: 81px;
    position: absolute;
    bottom: 75px;
    right: 20px;
}



/* СЕКЦИЯ 4 УСЛУГИ */


.services {
    display: flex;
    width: 100vw;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.services .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
    height: 1130px;
}

.services .container h2 {
    font-size: 77px;
    margin-top: 65px;

}



.ser__grid {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.ser__el img {
    width: 222px;
    height: 222px;
    border-radius: 45px;
}

.ser__el p {
    color: black;
    font-size: 23px;
    font-weight: 500;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
}

.ser__el p b {
    color: black;
    font-size: 19px;
    font-weight: 900;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.ser__btn__center {
    display: flex;
    justify-content: center;
}

.btn__ser {
    margin: 60px auto 50px auto;
}


/* СЕКЦИЯ 5 */

.sec__five {
    width: 100vw;
    height: 768px;
    display: flex;
    background-image: url('../images/sec-five-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec__five .container {
    display: flex;
    position: relative;
    width: 1100px;
}

.sec__five h2 {
    color: white;
    font-size: 70px;
    text-align: center;
    margin: auto auto;
}

.sec__five img {
    width: 77px;
    height: 81px;
    position: absolute;
    bottom: 75px;
    right: 20px;
}