* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    scroll-behavior: smooth;   
}

html, body {
    background-color: white;
    font-size: 0.85vw;
    overflow-x: hidden;

    scroll-behavior: smooth;   
}

p {
    font-family: 'CY Grotesk Grand Dark';
    src: url('../fonts/cy-grotesk-grand-dark.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}




/* GLOBAL */
.phone__panel {
    display: none;
}
.btn__close {
    display: none;
}


.left__li {
    padding-left: 2rem;
}


.m0 {
    margin: 0;
}

.central__p {
    margin: 2rem 0 2rem 0;
}

.bottom__p {
    margin: 0 0 2rem 0;
}

.no__dec__li {
    list-style: none;
}


.block__1 {
    width: 100vw;
    height: 768px;
    display: flex;
    background-image: url('../images/sec-three-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block__1 .container {
    display: flex;
    position: relative;
    width: 1100px;
}
.block__1 h2 {
    color: white;
    font-size: 70px;
    text-align: center;
    margin: auto auto;
}
.block__1 img {
    width: 77px;
    height: 81px;
    position: absolute;
    bottom: 75px;
    right: 20px;
}



/* NAV PANEl START */
.nav__panel {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
    /* filter: drop-shadow(0 7px 8px #aaa6a47c); */
}
.nav__list {
    display: flex;
    /* padding-right: 1rem; */
}
.hamburger {
    display: none;
}
.nav__list li {
    list-style: none;
}
.nav__list li button {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(30, 30, 73);   
    font-weight: 700;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800; /* Замените <weight> на конкретное значение */
    font-style: normal;
    background: none;

    font-size: 15px;
}
.nav__list li a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(30, 30, 73);   
    font-weight: 700;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800; /* Замените <weight> на конкретное значение */
    font-style: normal;
    background: none;

    font-size: 15px;
}
.nav__list li:not(:last-child) {
    margin-right: 2.1rem
}

/* NAV PANEL END */




/* Header Start */

.header {
    display: flex;
    width: 100vw;
    height: 80vh;
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Горизонтальное отражение */
}
.container {
    margin: 2.5rem auto 0 auto;
    margin: 40px auto 0 auto;
    min-width: 1200px;
}
.header-logo {
    margin-top: 4.5rem;
    margin-top: 77px;
}
.container h1 {
    margin-top: 6rem;
    font-weight: 900;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: white;

    margin-top: 105px;
    font-size: 80px;
}
.container p {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-top: 30px;
    color: white;
    font-size: 32px;
}
.header-subscribe {
    width: 200px;
    margin-top: 3rem;
    margin-top: 50px;
}
.header-subscribe p {
    font-size: 20px;
    margin-bottom: 3px;
}
.header-subscribe a img {
    width: 3rem;
    width: 50px;
    margin-left: 3px;
}







/* СЕКЦИЯ 1*/
.sec__one {
    display: flex;
    width: 100vw;
}
.sec__one .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
    height: 800px;
}
.sec__one .container h2 {
    color: black; 
    margin-top: 5.3rem;
    margin-bottom: 4.7rem;
    font-weight: 900;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 65px;
    margin-top: 85px;
    margin-bottom: 65px;
}

.grid__con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}
.photos__sec__one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.photos__sec__one img {
    width: 222px;
    height: 222px;
    border-radius: 45px;
    filter: drop-shadow(0 7px 8px #85807e7c);
}
.sec__two__last__img {
    display: block;
    margin-top: 132px;
}


.sec__one__first__text {
    margin-bottom: 30px;
}
.text__sec__one {
    font-family: "Overpass", sans-serif;
}
.text__sec__one p {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(16, 16, 16);
    font-size: 22.5px;
    letter-spacing: 2px;
    margin-top: 0;
}
.btn__one {
    display: inline-block;
    margin-top: 49px;
    padding: 18px 69px;
    background-color: #7C716C;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;

    font-size: 21px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}








/* СЕКЦИЯ 4 УСЛУГИ */


.services {
    display: flex;
    width: 100vw;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.services .container {
    margin: auto auto;
    max-width: 1100px;
    min-width: 1100px;
    height: 1130px;
}
.services .container h2 {
    font-size: 77px;
    margin-top: 65px;
    font-weight: 700;
}

.ser__grid {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}
.ser__el img {
    width: 222px;
    height: 222px;
    border-radius: 45px;
    filter: drop-shadow(0 7px 8px #85807e7c);
}
.ser__el p {
    color: black;
    font-size: 23px;
    font-weight: 500;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
}
.ser__el p b {
    color: black;
    font-size: 19px;
    font-weight: 900;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}
.ser__btn__center {
    display: flex;
    justify-content: center;
}
.btn__ser {
    margin: 60px auto 50px auto;
}


/* СЕКЦИЯ 5 */

.sec__five {
    background-image: url('../images/sec-five-bg.png');
}



/* МАСТЕР ГРУППА СТАРТ */

.master__group {
    display: flex;
}
.master__group .container {
    width: 1100px;
    min-width: inherit;
    margin-top: 0;
}
.master__group .container h2 {
    font-size: 70px;
    margin-top: 66px;
    margin-bottom: 66px;
}
.master__group .container h3 {
    font-size: 31px;
    letter-spacing: 1.1;
}
.master__group .container h4 {
    font-size: 21px;
}
.master__group .container p {
    color: black;
    font-size: 25px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
}
.master__group .container ul li {
    color: black;
    font-size: 25px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
}
.mas__gr__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mas__gr__center h3 {
    margin-top: 2rem;
}
.mas__gr__center a {
    max-width: 275px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}





/* СЕКЦИЯ 7 */

.sec__seven {
    background-image: url('../images/sec-seven-bg.png');
}



/* ОБО МНЕ */
.about {
    display: flex;
}

.about .container {
    width: 1100px;
    min-width: inherit;
    margin-top: 0;
}

.about .container h2 {
    font-size: 70px;
    margin-top: 66px;
    margin-bottom: 66px;
}


.about__first__g {
    display: grid;
    grid-template-columns: auto auto;
}

.left {
    width: 780px;
}
.about__children h3 {
    margin-bottom: 0;
    font-size: 26px;
    letter-spacing: 1.1px;
}

.about__children p {
    color: black;
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
    letter-spacing: 1.1px;
}
.about__children ul {
    margin-top: 0;
}

.about__children ul li {
    color: black;
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
    letter-spacing: 1.1px;
}

.about__dio p {
    color: black;
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Замените <weight> на конкретное значение */
    font-style: normal;
    letter-spacing: 1.1px;
}

.about__dio img {
    margin-top: -20px;
    margin-left: 25px;
    width: 286px;
    height: 286px;
    border-radius: 45px;
    filter: drop-shadow(0 7px 8px #85807e7c);
}


.about__second__g {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 286px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.about__second__g img {
    margin-top: 0;
    margin-left: 0;
    width: 286px;
    height: 286px;
    border-radius: 45px;
    filter: drop-shadow(0 7px 8px #85807e7c);
}

.right {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.right.about__children .for__center h3 {
    font-size: 20px;
}

.right.about__children .for__center p {
    font-size: 22px;
    margin-top: 20px;
}




/* КОНТАКТЫ НАЧАЛО */

.contacts {
    margin-top: 150px;
    display: flex;
}
.contacts .container {
    width: 1100px;
    min-width: inherit;
    margin-top: 0;
}
.contacts .container h2 {
    font-size: 70px;
    margin-bottom: 150px;
}
.contacts__g {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;

}
.con__left {
    width: 520px;
}
.con__left h3 {
    font-size: 30px;
}
.con__left p {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 80px;
    color: #868686;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
}
.con__right {
    display: flex;
}
.con__right img {
    width: 268px;
    height: 268px;
    border-radius: 45px;
    display: block;
    filter: drop-shadow(0 7px 8px #85807e7c);
}
.con__ph__first {
    margin-top: 40px;
}
.con__ph__second {
    margin-top: -80px;
    margin-left: 80px;
}
.contacts .container .header-subscribe {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 80px;
}